*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card-container{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    background-color: #E5E7EB;
    flex-wrap: wrap;
}

.card{
  position: relative;
  padding: 20px;
  background: #fff;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 500px;
}

.card .image-content{
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.card .image-content img{
    object-fit: contain;
}

.fa-star{
    color: gold;
}
.addToCart{
    height: 40px;
    width: 100%;
    background-color: #FCC93E;
    color: #fff;
    font-size: 20px;
}

/* todo: NAVBAR START */

div.navbar {
    width: 100%;
    height: fit-content;
    background-color: #000000;
}

div.header-navbar {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    padding-right: 25px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
div.logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    padding-bottom: 6px;
    /* background-color: blue; */
}
div.toggle-theme i {
    font-size: 30px;
    color: #fff;
}
div.img-logo {
    width: 70%;
    height: 100%;
    margin: auto;
}
div.img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* INPUT BAR */
div.search {
    display: flex;
    text-align: center;
    height: 100%;
    width: 700px;
    padding: 10px 0;
    /* background-color: greenyellow; */
}
div.hmbg-search {
    display: none;
}
div.search input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    border: none;
    z-index: 0;
    box-shadow: 0 0 5px 0 #000;
}
div.icon {
    z-index: 99;
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px 0 #000;
    background-color: rgba(255, 166, 0, 0.92);
    cursor: pointer;
}
div.icon i {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
}
div.first-icon {
    z-index: 99;
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    align-items: center;
    box-shadow: 0 0 10px 0 #000;
    /* border-right: 1px solid #000000b3; */
    background-color: rgba(228, 226, 226, 0.854);
    cursor: pointer;
    border-radius: 5px 0 0 5px;

}
div.first-icon i {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    padding-left: 10px;
}

div.footer-navbar {
    width: fit-content;
    height: fit-content;
    /* height: 40px; */
    /* background-color: pink; */
    padding-left: 40px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: flex;
    justify-content: center; */
}
div.footer-navbar ul {
    align-items: normal;
    width: fit-content;
    /* padding: 10px; */
    height: 100%;
    /* margin-right: 10px; */
    /* background-color: blue; */
    display: flex;
}
div.footer-navbar li {
    /* margin: 0 10px; */
    color: #fff;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
}
div.footer-navbar li:hover {
    text-decoration: underline;
}


/* NAV LINK */


div.nav-links {
    height: 100%;
    width: fit-content;
    padding: 10px 0;
    /* background-color: gold; */
    display: flex;
    align-items: center;
}
div.search-logo {
    z-index: 9999;
    width: 60px;
    height: 100%;
    margin-right: 5px;
    display: none;
    align-items: center;
    /* background-color: burlywood; */
}
div.hamburger-menu {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 3px;
    right: 20px;
    background-color: #fff;
    display: none;
    cursor: pointer;
}

div.hamburger-menu img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
div.search-logo i {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #888;
    padding-left: 10px;
    cursor: pointer;
}
div.hmbg-nav-links {
    display: none;
}
div.nav-links ul {
    width: 100%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.nav-links ul li {
    width: fit-content;
    height: 100%;
    list-style: none;
    padding-top: 5px;
    /* background-color: red; */
}
div.nav-links ul li p {
    font-weight: bold;
}
li.sign-in i {
    color: gray;
    padding: 0 5px;
}
li.sign-in,
li.return {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
li.sign-in:hover i {
    color: #ffffff97;
}
li.return {
    margin: 0 15px;
    /* font-size: 18px; */
}
li.cart-shopping {
    padding: 0 10px;
    margin-top: 5px;
}
li.cart-shopping i {
    font-size: 25px;
    margin-top: 2px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
li.cart-shopping p {
    position: absolute;
    right: 25px;
    top: 5px;
    color: #fff;
    background-color: orangered;
    border-radius: 50%;
    padding: 1px;
    height: 20px;
    width: 20px;
    text-align: center;
}

div.toggle-search-bar {
    position: absolute;
    width: 100%;
    height: 40px;
    display: none;
    transform: translateY(-100px);
    transition: 1s;
    opacity: 0;
    /* margin: auto; */
    justify-content: center;
    background-color: transparent;
}
div.toggle-search-bar input {
    width: 600px;
    outline: none;
    border: 1px solid #88888868;
    padding: 0 10px;
}
div.toggle-search-bar input:focus {
    border: 1.5px solid blue;
}
div.show-search-bar {
    transform: translateY(0);
    opacity: 10;
    transition: 1s;
}



/* TODO: RESPONSIVE */

/* Pour 1300 Pixels */
@media screen and (max-width: 1300px) {
    div.search {
        display: flex;
        text-align: center;
        height: 100%;
        width: 600px;
        /* background-color: greenyellow; */
    }
    div.toggle-search-bar {
        display: none;
    }
}

/* 1210 Pixels */
@media screen and (max-width: 1210px) {
    div.search {
        display: none;
    }
    div.search-logo {
        display: flex;
        margin-right: 35px;
    }
    div.toggle-search-bar {
        display: flex;
    }
}

/* 600 Pixels */
@media screen and (max-width: 600px) {
    div.toggle-search-bar {
        display: none;
    }
    div.footer-navbar {
        display: none;
    }
    div.nav-links ul {
        display: none;
    }
    div.hamburger-menu {
        display: flex;
    }
    
    .hmbg-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-top: 57px;
        top: 0;
        right: 0;
        margin-right: -100%;
        transition: 1s ease;
        background-color: #00000073;
        backdrop-filter: blur(3px);
    }
    .toggle-hmbg-menu {
        display: flex;
        margin-right: 0;
        transition: 1s ease;
    }

    /* todo: Nav-links elements */

    div.hmbg-search {
        display: flex;
        text-align: center;
        height: 40px;
        width: 100%;
        margin: 5px 0;
        /* opacity: 0; */
        transition: 1s;
        background-color: greenyellow;
    }
    
    div.hmbg-search input {
        height: 100%;
        width: 100%;
        padding: 0 10px;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* border-radius: 5px 0 0 5px; */
        outline: none;
        border: none;
    }
    div.hmbg-icon {
        display: flex;
        width: 50px;
        height: 100%;
        align-items: center;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 0 3px 0 #999;
        background-color: rgba(255, 166, 0, 0.92);
        cursor: pointer;
    }
    div.hmbg-icon i {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        padding-left: 10px;
    }
    div.hmbg-first-icon {
        display: flex;
        width: fit-content;
        height: 100%;
        padding: 0 10px;
        font-size: 14px;
        align-items: center;
        box-shadow: 5px orangered;
        border-right: 1px solid #000000b3;
        background-color: rgba(228, 226, 226, 0.854);
        cursor: pointer;
        border-radius: 5px 0 0 5px;
    
    }
    div.hmbg-first-icon i {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #888;
        padding-left: 10px;
    }

    /*  */


    div.hmbg-nav-links {
        height: fit-content;
        width: 100%;
        /* background-color: gold; */
        display: flex;
        /* border-bottom: 2px solid #888; */
        box-shadow: 0 1px 5px 0 #000;
    }
    div.hmbg-nav-links ul {
        width: 100%;
        height: 100%;
        padding: 10px;
        /* background-color: orange; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.hmbg-nav-links ul li {
        width: fit-content;
        height: fit-content;
        list-style: none;
        /* padding-top: 5px; */
        background-color: #000000aa;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 #fff;
    }
    div.hmbg-nav-links ul li p {
        font-weight: bold;
    }
    li.hmbg-sign-in i {
        color: gray;
        padding: 0 5px;
    }
    li.hmbg-sign-in,
    li.hmbg-return {
        color: #fff;
        cursor: pointer;
        padding: 10px;
        font-size: 14px;
    }
    li.hmbg-sign-in:hover i {
        color: #ffffff97;
    }
    li.hmbg-return {
        margin: 0 15px;
        /* font-size: 18px; */
    }
    li.hmbg-cart-shopping {
        padding: 13px;
        /* margin-top: 5px; */
        display: flex;
        align-items: center;
    }
    li.hmbg-cart-shopping i {
        font-size: 25px;
        margin-top: 2px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
    li.hmbg-cart-shopping p {
        position: absolute;
        right: 15px;
        top: 120px;
        color: #fff;
        background-color: orangered;
        border-radius: 50%;
        padding: 1px;
        height: 20px;
        width: 20px;
        text-align: center;
    }
    div.search-logo {
        display: none;
    }
}

/* 390 Pixels */
@media screen and (max-width: 390px) {
    
    div.hmbg-search {
        opacity: 1;
    }
}