

/* PopUp */

*,
::before,
::after {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

.popParent {
    width: 75%;
    height: auto;
    background-color: #3ba5b886;
    position: absolute;
    z-index: 7;
    left: 13%;
    top: 10px;
    padding-top: 10px;
    border-radius: 6px;

    & .displayPop {
        height: 60%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .imPop {
            width: 42%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            position: relative;

            & h5 {
                position: absolute;
                top: 5px;
                right: 30px;
            }

            & .imgSet {
                width: 80%;
                height: 340px;
                overflow: hidden;
                border-radius: 5px;
                margin-top: 30px;

            }
        }

        & .navPop {
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }

    & .scrollPop {
        width: 97%;
        height: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2%;
        overflow: hidden;

        & .card {
            margin: 10px 16px;
            height: 100%;
            width: 53%;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 219px;
                height: 200px;
                border-radius: 5px;

            }
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 80%;

    & .btn {
        font-size: 50px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.377);
        }
    }

    & .fa {
        transform: translateY(-140px);
        margin: auto;
        color: #3ba5b8e3;
        border-radius: 30%;
    }

 
}

.fa-star {
    color: rgb(255, 220, 23);
    display: inline;
}

.fa-times {
    position: absolute;
    right: 20px;
}

.price {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 6px;
    background-color: rgba(255, 238, 0, 0.575);
    border-radius: 6px;
    margin: auto;
    margin-top: 15px;
    color: #fff;
    align-self: center;
}

/* fonts */

.detailsSet {
    margin-left: 20px;
    margin-right: 25px;
    max-width: 500px;
    overflow: auto;

    p {
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0;
        font-family: Poppins;
        color: #fff;
    }

    h1 {
        font-size: 27px;
        font-weight: 600;
        line-height: 30px;
        font-family: Poppins;
        color: #fff;
    }

    h5 {
        font-size: 20px;
        font-weight: 900;
        line-height: 30px;
        font-family: Poppins;
        color: #fff;
    }

}

.levels {
    font-size: 18px;
    font-family: Poppins;
    color: #a19f9f;
}

.levels:hover {
    background-color: rgb(240, 213, 93);
    width: 100px;
    height: 20px;
    border-radius: 3px;
}