@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
  font-family: 'poppins';
  /* background-color: ; */
}
.products-container{
  transform: translatey(-4em);
  z-index: 10;
}

.products-f {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  transition: .4s;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.owl-carousel {
    /* padding-left: 10px; */
    position: relative;
    /* background-color: aquamarine; */
}
.owl-carousel .owl-nav {
    background-color: red !important;
}
.owl-carousel .owl-nav .owl-next {
    color: #fff !important;
    height: 98% !important;
    width: 30px !important;
    background-color:transparent !important;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;

}

.owl-carousel .owl-nav .owl-prev {
    color: hsl(0, 0%, 100%) !important;
    height: 98% !important;
    width: 30px !important;
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.owl-carousel .owl-nav .owl-prev:hover{
    background-color: rgba(0, 0, 0, 0.247)  !important;
}
.owl-carousel .owl-nav .owl-next:hover{
    background-color: rgba(0, 0, 0, 0.247)  !important;
}
.owl-prev span,
.owl-next span {
    font-size: 30px !important;
    
}

.owl-carousel .item {
    height: 700px;
    width: 100%;
    /* margin-right: 5px; */
}

.owl-carousel .item img {
    object-fit: cover;
}
/*===============
================
*/



.products-carousel,
.right-products {
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .4s !important;
  border-radius: 5px;
  background-color: white;
}
.right-products:hover,
.products:hover,
.products-carousel:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.185);
  cursor: pointer;
}

.products {
  position: relative;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #d7d5d5;
  border-radius: 5px;
  height: 400px;
  /* transition: .4s all linear; */
}

.products:first-child {
  grid-column: span 2;
  flex-direction: row !important;
  align-items: center;
}
.w-products .right div {
  flex-direction: row !important;
  align-items: center;
}



.products:nth-child(3) {
  /* grid-column: span 2; */

}

.right-products img,
.products-carousel img,
.products img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-content {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.fa-star {
  color: gold;
}

.products-container button {
  width: 100%;
  padding: .8em;
  margin: 1em 0 1em 0;
  font-family: inherit;
  color: white;
  background-color: gold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  transition: .5s;
}

.products-container button:hover {
  background-color: #f9b509;
}

.category {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 12px;
  color: #3c3c3c;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
}

.description {
  height: 7.1em;
  overflow: hidden;
}

.products:first-child .desc {
  display: flex;
  gap: .5em;
  flex-direction: column;
}

/* .products:first-child .image-content{
  width: 100%;
} */
.products:first-child .description {
  height: 100%;
  font-size: 16px;
}

.products:first-child .title {
  height: 100%;
  font-size: 19px;
}

.products:first-child button {
  position: absolute;
  bottom: 2.5%;
  width: fit-content;
  right: 4%;
}

.w-products .right .desc {
  /* display: flex; */
  gap: .5em;
  /* flex-direction: column; */
}

/* .w-products .right .image-content{
  width: 100%;
} */
.w-products .right .description {
  height: 100%;
  font-size: 16px;
}

.w-products .right .title {
  height: 100%;
  font-size: 19px;
}

.w-products .right button {
  position: absolute;
  bottom: 2.5%;
  width: fit-content;
  right: 4%;
}

.carousel-container {
  max-width: 100%;
  /* border: 2px solid black; */
  overflow: hidden;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 1em;
  position: relative;
  margin: 10px;
}

.carousel {
  display: flex;
  width: 300px;
  gap: 2em;
  padding: .5em;
}

.products-carousel {
  min-width: 105%;
  padding: .7em;
}

.title {
  font-size: 14px;
}

.description {
  font-size: 14px;
}

.prev-slide,
.next-slide {
  position: absolute;
  z-index: 2;
  color: #f8f8f8ba;
}

.prev-slide {
  top: 45%;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.442);
  padding: 1em .5em;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

.next-slide {
  top: 45%;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.442);
  padding: 1em .5em;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

.next-slide:hover,
.prev-slide:hover {
  background-color: rgba(0, 0, 0, 0.674);
}
.w-products{
  display: flex;
  margin: 10px;
  gap: 4em;
  align-items: center;
  padding: 1em;
  background-color: #f8f8f8;
}
.w-products .left{
  width: 40%;
  border-radius: 5px;
  padding: 2em ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.left .products-carousel {
  /* width: 100%; */
  height: fit-content;
  position: relative;
  transition: .4s;
  border-radius: 5px;

  background-color: white;
  padding: .5em;
}
.flex-content{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  
}
.left img{
  width: 60%;
  object-fit: contain;

}


.w-products .right div{
  max-width: 100% !important;
}


/* todo: NAVBAR START */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card-container{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    background-color: #E5E7EB;
    flex-wrap: wrap;
}

.card{
  position: relative;
  padding: 20px;
  background: #fff;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 500px;
}

.card .image-content{
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.card .image-content img{
    object-fit: contain;
}

.fa-star{
    color: gold;
}
.addToCart{
    height: 40px;
    width: 100%;
    background-color: #FCC93E;
    color: #fff;
    font-size: 20px;
}

/* todo: NAVBAR START */

div.navbar {
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #000000;
}

div.header-navbar {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    padding-right: 25px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
div.logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    padding-bottom: 6px;
    /* background-color: blue; */
}
div.toggle-theme i {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
div.img-logo {
    width: 70%;
    height: 100%;
    margin: auto;
}
div.img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
==============================
STYLES FOR THE DROP DOWN LIST
==============================
*/
select{
    width: 57px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:rgba(228, 226, 226, 0.854);
    box-shadow: 0 0 10px 0 #000;
    z-index: 10;
}
select:focus{
    outline: 2px solid orange;
}
select option{
    padd: 50px;
    background-color: #0000003a;
}

/* INPUT BAR */
div.search {
    display: flex;
    text-align: center;
    height: 100%;
    width: 700px;
    padding: 10px 0;
    /* background-color: greenyellow; */
}
div.hmbg-search {
    display: none;
}
div.search input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    border: none;
    z-index: 0;
    box-shadow: 0 0 5px 0 #000;
}
div.icon {
    z-index: 99;
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px 0 #000;
    background-color: rgba(255, 166, 0, 0.92);
    cursor: pointer;
}
div.icon i {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
}
div.first-icon {
    z-index: 99;
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    align-items: center;
    box-shadow: 0 0 10px 0 #000;
    /* border-right: 1px solid #000000b3; */
    background-color: rgba(228, 226, 226, 0.854);
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    outline: 1px solid red;

}
div.first-icon i {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    padding-left: 10px;
}



/* NAV LINK */


div.nav-links {
    height: 100%;
    width: fit-content;
    padding: 10px 0;
    /* background-color: gold; */
    display: flex;
    align-items: center;
}
div.search-logo {
    z-index: 9999;
    width: 60px;
    height: 100%;
    margin-right: 5px;
    display: none;
    align-items: center;
    /* background-color: burlywood; */
}
div.hamburger-menu {
    position: absolute;
    z-index: 99;
    width: fit-content;
    height: fit-content;
    top: 13px;
    right: 20px;
    /* background-color: #fff; */
    display: none;
    cursor: pointer;
}

div.hamburger-menu i {
    color: #000;
    font-size: 30px;
}
div.search-logo i {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #888;
    padding-left: 10px;
}
div.hmbg-nav-links {
    display: none;
}
div.nav-links ul {
    width: 100%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.nav-links ul li {
    width: fit-content;
    height: 100%;
    list-style: none;
    padding-top: 5px;
    /* background-color: red; */
}
div.nav-links ul li p {
    font-weight: bold;
}
li.sign-in i {
    color: gray;
    padding: 0 5px;
}
li.sign-in,
li.return {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
li.sign-in:hover i {
    color: #ffffff97;
}
/*
=====================
sign-in features
===================== 
 */
 .flex{
    display: flex;
 }
 .black{
    color: #000;
    margin: 0.7rem 0;
    /* outline: 1px solid red; */
 }
 .white-outline:hover{
    outline: 1px solid #fff;
 }
 
 .container{
    width: 90%;
    height: 95%;
    margin: auto;
    margin-top: 2%;
    background-color: transparent;
    /* outline: 1px solid green; */
    border-radius: 10px;
    /* position: relative; */
}
 .absolute-cover{
    display: none;
}

li.sign-in:hover  .absolute-cover{ 
    display: block;
    position: absolute;
    top: 5;
    left: 0;
    background-color: #0e0d0d8c;
    /* background-color: #fff; */
    backdrop-filter: blur(7px);
    width: 100% ;
    height: 110vh;
    z-index: 20;
    /* outline: 1px solid red; */

}
.absolute-dropdown{
    position: absolute;
    top: 1rem;
    right: 5rem;
    display: block;
    /* transition-duration: 2s; */
    /* object-fit: cover; */
    width: 36rem;
    height: 80vh;
    padding:  0 ;
    background-color: #fff;
    /* outline: 1px   solid red; */
}
.top-absolute-dropdown{
    width: 100%;
    height: 13%;
    /* background-color: pink; */
    margin-top: -4px;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.163);
}
.btn-sign{
    display: block;
    margin: auto;
    margin-bottom: 0.4rem;
    width: 60%;
    height: 50%;
    background-color: yellow;
    border-radius: 12px;
    text-align: center;
    line-height: 2.9;
    font-size: .8rem;
    font-weight: 500;
    color: black;
}
.top-absolute-dropdown p{
    text-align: center;
    color: #000000d4;
    font-weight: 0;   
}
.top-absolute-dropdown .start-here:hover,
.black:hover{
      text-decoration: underline;
}
.main-absolute-dropdown{
    width: 100%;
    height: 88%;
    /* background-color: grey; */
}
.main-absolute-dropdown > div{
    width: 50%;
    height: 100%;
}
.main-absolute-dropdown-left{
    background-color: transparent;
    border-right: 1px solid  rgba(0, 0, 0, 0.163);
}
.main-absolute-dropdown-right{
    /* background-color: blue; */
    padding-left: 0.6rem;
}
li.return {
    margin: 0 15px;
    /* font-size: 18px; */
}
li.cart-shopping {
    padding: 0 10px;
    margin-top: 5px;
}
li.cart-shopping i {
    font-size: 25px;
    margin-top: 2px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
li.cart-shopping p {
    position: absolute;
    right: 25px;
    top: 5px;
    color: #fff;
    background-color: orangered;
    border-radius: 50%;
    padding: 1px;
    height: 20px;
    width: 20px;
    text-align: center;
}
/*  
==========================
CATATORY STYLES
==========================
  */
.nav-bar-categories {
    display: flex;
    padding: 0.5em;
    gap: 1em;
    align-items: center;
    font-size: 15px;
    padding-left: 40px;
    
}
.nav-bar-categories  p {
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    font-family: sans-serif;
}
.fa-bars{
    transform: translateY(1px);
    cursor: pointer;
    color: white;
}
.nav-bar-categories  p:hover {
    text-decoration: underline;


div.toggle-search-bar {
    position: absolute;
    width: 100%;
    height: 40px;
    display: none;
    top: 0;
    left: 0;
    pointer-events: none;
    /* transform: translateY(0); */
    transition: 1s;
    opacity: 0;
    justify-content: center;
    /* background-color: pink; */
}
div.toggle-search-bar input {
    width: 600px;
    outline: none;
    border: 1px solid #88888868;
    padding: 0 10px;
}
div.toggle-search-bar input:focus {
    border: 1.5px solid blue;
}
div.show-search-bar {
    transform: translateY(60px);
    opacity: 10;
    transition: 1s;
    z-index: 999;
    pointer-events: all;
}

div.scroll-to-top {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px 0 #000;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
div.scroll-to-top i {
    font-size: 30px;
    font-weight: bold;
}

.hmbg-categories {
    display: block;
    align-items: center;
    font-size: 15px;
    /* background-color: rgba(255, 0, 0, 0.539); */
    /* color: #000; */
    width: 100%;
    height: fit-content;
    text-align: center;
    
}
.hmbg-categories p {
    /* background-color: blue; */
    height: 40px;
    width: 100%;
    padding: 55px 0;
    /* margin-top: 10px; */
    /* margin-bottom: 30px; */
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    font-family: sans-serif;
}
.hmbg-categories p:hover {
    text-decoration: underline;
}


/* TODO: RESPONSIVE */

/* Pour 1300 Pixels */
@media screen and (max-width: 1300px) {
    div.search {
        display: flex;
        text-align: center;
        height: 100%;
        width: 600px;
        /* background-color: greenyellow; */
    }
    div.toggle-search-bar {
        display: none;
    }
}

/* 1210 Pixels */
@media screen and (max-width: 1210px) {
    div.search {
        display: none;
    }
    div.search-logo {
        display: flex;
        margin-right: 35px;
    }
    div.toggle-search-bar {
        display: flex;
    }
}

/* 600 Pixels */
@media screen and (max-width: 600px) {
    div.toggle-search-bar {
        display: none;
    }
    div.footer-navbar {
        display: none;
    }
    div.nav-links ul {
        display: none;
    }
    div.hamburger-menu {
        display: flex;
    }
    
    .hmbg-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-top: 57px;
        top: 0;
        right: 0;
        z-index: 9;
        margin-right: -100%;
        transition: 1s ease;
        background-color: #00000073;
        backdrop-filter: blur(3px);
    }
    .toggle-hmbg-menu {
        display: flex;
        margin-right: 0;
        transition: 1s ease;
    }

    /* todo: Nav-links elements */

    div.hmbg-search {
        display: flex;
        text-align: center;
        height: 40px;
        width: 100%;
        margin: 5px 0;
        /* opacity: 0; */
        transition: 1s;
        background-color: greenyellow;
        /* z-index: 99999; */
    }
    
    div.hmbg-search input {
        height: 100%;
        width: 100%;
        padding: 0 10px;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* border-radius: 5px 0 0 5px; */
        outline: none;
        border: none;
    }
    div.hmbg-icon {
        display: flex;
        width: 50px;
        height: 100%;
        align-items: center;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 0 3px 0 #999;
        background-color: rgba(255, 166, 0, 0.92);
        cursor: pointer;
    }
    div.hmbg-icon i {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        padding-left: 10px;
    }
    div.hmbg-first-icon {
        display: flex;
        width: fit-content;
        height: 100%;
        padding: 0 10px;
        font-size: 14px;
        align-items: center;
        box-shadow: 5px orangered;
        border-right: 1px solid #000000b3;
        background-color: rgba(228, 226, 226, 0.854);
        cursor: pointer;
        border-radius: 5px 0 0 5px;
    
    }
    div.hmbg-first-icon i {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #888;
        padding-left: 10px;
    }

    /*  */


    div.hmbg-nav-links {
        height: fit-content;
        width: 100%;
        /* background-color: gold; */
        display: flex;
        /* border-bottom: 2px solid #888; */
        box-shadow: 0 1px 5px 0 #000;
    }
    div.hmbg-nav-links ul {
        width: 100%;
        height: 100%;
        padding: 10px;
        /* background-color: orange; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.hmbg-nav-links ul li {
        width: fit-content;
        height: fit-content;
        list-style: none;
        /* padding-top: 5px; */
        background-color: #000000aa;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 #fff;
    }
    div.hmbg-nav-links ul li p {
        font-weight: bold;
    }
    li.hmbg-sign-in i {
        color: gray;
        padding: 0 5px;
    }
    li.hmbg-sign-in,
    li.hmbg-return {
        color: #fff;
        cursor: pointer;
        padding: 10px;
        font-size: 14px;
    }
    li.hmbg-sign-in:hover i {
        color: #ffffff97;
    }
    li.hmbg-return {
        margin: 0 15px;
        /* font-size: 18px; */
    }
    li.hmbg-cart-shopping {
        padding: 13px;
        /* margin-top: 5px; */
        display: flex;
        align-items: center;
    }
    li.hmbg-cart-shopping i {
        font-size: 25px;
        margin-top: 2px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
    li.hmbg-cart-shopping p {
        position: absolute;
        right: 15px;
        top: 120px;
        color: #fff;
        background-color: orangered;
        border-radius: 50%;
        padding: 1px;
        height: 20px;
        width: 20px;
        text-align: center;
    }
    div.search-logo {
        display: none;
    }
}

/* 390 Pixels */
@media screen and (max-width: 390px) {
    
    div.hmbg-search {
        opacity: 1;
    }
}


@media screen and (max-width:500px) {
 *{
  font-size: 14px;
 }
  
.products-f {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.products:first-child {
  grid-column: span 1;
  flex-direction: column !important;
  align-items: center;
}
.products:first-child button {
  position: relative;
  width: 100%;
  right: 0;
  bottom: 0;
}
.carousel-container{
  width: 350px;
  align-items: center;
  margin: auto;
}
.w-products{
  flex-direction: column;
}
.w-products .left{
  width: 100%;
  
}
button{
  font-size: 12px;
}
.products:first-child .description{
font-size: 13px;
}
.description{
  font-size: 13px;
}
.w-products .right .right-products .description{
font-size: 13px;
  
}
.w-products .right .right-products {
gap: 1em;
}
.products-container{
  transform: translatey(0);
}
}
